<div class="container">
  <div class="header">
    <div class="row">
      <div class="col-12 text-center">
        <h2>Welcome, to our Blog System!</h2>
      </div>
    </div>
  </div>
  <hr>
  <div class="blog-categories text-center">
    <div class="row">
      <div class="col-12">
        <h3>Blog Categories</h3>
      </div>
    </div>
    <div class="row">
      <% @categories.each do |category| %>
        <div class="col-2">
          <p><%= category.name %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>