<div class="container">
  <div class="header">
    <div class="row">
      <div class="col-12 text-center">
        <h2>Welcome, to our Blog System!</h2>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12 text-center">
      <p>This page is just to have something to test the routes.</p>
      <p>Click <a href="/posts">here</a> to see the posts of blog.</p>
    </div>
  </div>
</div>